.btn {
  border: none;
  color: $color5;
  overflow: hidden;
  margin: $button-margin;
  padding: 0;
  width: 80px;
  height: 30px;
  outline: none;
  
  &:hover, &:focus {
    box-shadow: 2px 2px 2px $color4;
    background-color: $color5;
  }
}

.btn-flat {
  background-color: transparent;
}

.btn-accent {
  background-color: $color3;
  border: 2px solid $color3;
  color: $color3;
}

.btn-rounded {
  border-radius: $radius;
  color: $color4;
  width: 150px;
  
  &:hover, &:focus {
    background-color: $color3;
  }
}

.link-button {
  margin: $button-margin;
  padding: $bar-pad;
}