.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 0 1rem;
  padding: 0;
  width: 80px;
  height: 30px;
  outline: none;
}

.btn-flat {
  background-color: transparent;

  &:hover, &:focus {
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    background-color: #ffffffc2;
  }
}