.image-container {
  overflow: hidden;
  padding: 2em 5em 2em 1em;
}

.image-style {
  height: 100%;
  width: 100%;
  background-size: contain;
  object-fit: contain;
}

.image-background,
.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.image-background {
  background: url('https://cdn.pixabay.com/photo/2015/01/09/11/09/startup-594091_960_720.jpg') center center no-repeat;
  background-size: cover;
  z-index: 1
}

.image-overlay {
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.image-content {
  position: relative;
  z-index: 3;
  /* Finally, style and place the content */
  color: white;
  display: flex;
  flex-flow: column;
}

@media only screen and (max-width: 990px) {
  .image-container {
    padding: 2em;
  }
}