.small-margin {
  margin: 1rem;
}

.small-margin-top-bottom {
  margin: 1rem 0;
}

.small-margin-left-right {
  margin: 0 1rem;
}
.medium-margin {
  margin: 2rem;
}

.medium-margin-top-bottom {
  margin: 2rem 0;
}

.medium-margin-left-right {
  margin: 0 2rem;
}