.tile-section {
  color: $color3;
}

.tile {
  margin-top: 20px;
  height: 130px;
  width: 130px;
  border: 1px solid $color3;
  border-radius: 0.5px;
  display: flex;
  flex-flow: column;
}


@media only screen and (max-width: 990px) {
  .tile {
    display: block;
    width: 90%;
    height: auto;
    margin: 10px auto;
  }
}