// font variables
$font-family: "Avenir", Helvetica, Arial, sans-serif;

// Set the number of columns you want to use on your layout.
$flexboxgrid-grid-columns: 12 !default;
// Set the gutter between columns.
$flexboxgrid-gutter-width: 1rem !default;
// Set a margin for the container sides.
$flexboxgrid-outer-margin: 2rem !default;
// Set the breakpoints
$flexboxgrid-breakpoints:
  sm 48em 46rem,
  md 62em 61rem,
  lg 75em 71rem !default;
$flexboxgrid-max-width: 1200px !default;
// Extra gutter settings
$gutter-compensation: $flexboxgrid-gutter-width * .5 * -1;
$half-gutter-width: $flexboxgrid-gutter-width * .5;
// Button radius
$radius: 2em;
// Circle border
$circle-radius: 50%;
// Colors
$color1: #0f0f17ff;
$color2: #564e58ff;
$color3: #b54c0aff;
$color4: #fcfcfcff;
$color5: #c1c1c1aa;
// Bars size
$bar-pad: 20px 5px;
// Block pad
$block-pad: 10px;
// Button margin
$button-margin: 0 1rem;
// Input border radius
$input-border-radius: 0.2rem;